<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.dao.OilwellPressureFlowMapper">

    <select id="getUndergroundList" resultType="com.macro.mall.dto.OilwellPressureFlow">
        SELECT
        id,
        well_id  wellId,
        well_region wellRegion,
        dyn_liq_level dynLiqLevel,
        pump_depth pumpDepth,
        tubing_pres tubingPres,
        casing_pres casingPres,
        flow_pres flowPres,
        static_pres staticPres,
        submergence submergence,
        create_time createTime
        FROM
        oilwell_pressure_flow
        WHERE

        <if test="queryParam.wellId !=null ">
            well_id = #{queryParam.wellId}
        </if>

        <if test="queryParam.startDate!=null and queryParam.endDate != null">
            AND (create_time between #{queryParam.startDate} and  #{queryParam.endDate} )
        </if>

    </select>

</mapper>
